body {
    margin: 0;
}

.first_section {
    display: flex;
}

span {
    color: darkorange;
}

h1 {
    font-size: 50px;
}

.name {
    color: darkorange;
}

.first_container {
    width: 50%;
    padding: 2%;
}

.first_section img {
    display: flex;
    padding-bottom: 150px;
}

.an {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 40px;
    border-radius: 5px;
}